<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqt.stockpredict.mapper.CnStockSpotBuyMapper">

    <resultMap id="BaseResultMap" type="com.qqt.stockpredict.model.entity.CnStockSpotBuy">
            <id property="date" column="date" jdbcType="DATE"/>
            <id property="code" column="code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="new_price" column="new_price" jdbcType="FLOAT"/>
            <result property="change_rate" column="change_rate" jdbcType="FLOAT"/>
            <result property="ups_downs" column="ups_downs" jdbcType="FLOAT"/>
            <result property="volume" column="volume" jdbcType="BIGINT"/>
            <result property="deal_amount" column="deal_amount" jdbcType="BIGINT"/>
            <result property="amplitude" column="amplitude" jdbcType="FLOAT"/>
            <result property="volume_ratio" column="volume_ratio" jdbcType="FLOAT"/>
            <result property="turnoverrate" column="turnoverrate" jdbcType="FLOAT"/>
            <result property="open_price" column="open_price" jdbcType="FLOAT"/>
            <result property="high_price" column="high_price" jdbcType="FLOAT"/>
            <result property="low_price" column="low_price" jdbcType="FLOAT"/>
            <result property="pre_close_price" column="pre_close_price" jdbcType="FLOAT"/>
            <result property="speed_increase" column="speed_increase" jdbcType="FLOAT"/>
            <result property="speed_increase_5" column="speed_increase_5" jdbcType="FLOAT"/>
            <result property="speed_increase_60" column="speed_increase_60" jdbcType="FLOAT"/>
            <result property="speed_increase_all" column="speed_increase_all" jdbcType="FLOAT"/>
            <result property="dtsyl" column="dtsyl" jdbcType="FLOAT"/>
            <result property="pe9" column="pe9" jdbcType="FLOAT"/>
            <result property="pe" column="pe" jdbcType="FLOAT"/>
            <result property="pbnewmrq" column="pbnewmrq" jdbcType="FLOAT"/>
            <result property="basic_eps" column="basic_eps" jdbcType="FLOAT"/>
            <result property="bvps" column="bvps" jdbcType="FLOAT"/>
            <result property="per_capital_reserve" column="per_capital_reserve" jdbcType="FLOAT"/>
            <result property="per_unassign_profit" column="per_unassign_profit" jdbcType="FLOAT"/>
            <result property="roe_weight" column="roe_weight" jdbcType="FLOAT"/>
            <result property="sale_gpr" column="sale_gpr" jdbcType="FLOAT"/>
            <result property="debt_asset_ratio" column="debt_asset_ratio" jdbcType="FLOAT"/>
            <result property="total_operate_income" column="total_operate_income" jdbcType="BIGINT"/>
            <result property="toi_yoy_ratio" column="toi_yoy_ratio" jdbcType="FLOAT"/>
            <result property="parent_netprofit" column="parent_netprofit" jdbcType="BIGINT"/>
            <result property="netprofit_yoy_ratio" column="netprofit_yoy_ratio" jdbcType="FLOAT"/>
            <result property="report_date" column="report_date" jdbcType="DATE"/>
            <result property="total_shares" column="total_shares" jdbcType="BIGINT"/>
            <result property="free_shares" column="free_shares" jdbcType="BIGINT"/>
            <result property="total_market_cap" column="total_market_cap" jdbcType="BIGINT"/>
            <result property="free_cap" column="free_cap" jdbcType="BIGINT"/>
            <result property="industry" column="industry" jdbcType="VARCHAR"/>
            <result property="listing_date" column="listing_date" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        date,code,name,
        new_price,change_rate,ups_downs,
        volume,deal_amount,amplitude,
        volume_ratio,turnoverrate,open_price,
        high_price,low_price,pre_close_price,
        speed_increase,speed_increase_5,speed_increase_60,
        speed_increase_all,dtsyl,pe9,
        pe,pbnewmrq,basic_eps,
        bvps,per_capital_reserve,per_unassign_profit,
        roe_weight,sale_gpr,debt_asset_ratio,
        total_operate_income,toi_yoy_ratio,parent_netprofit,
        netprofit_yoy_ratio,report_date,total_shares,
        free_shares,total_market_cap,free_cap,
        industry,listing_date
    </sql>
</mapper>
