<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qqt.stockpredict.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.qqt.stockpredict.model.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="nickName" column="nickName" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phonenumber" column="phonenumber" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="CHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="userType" column="userType" jdbcType="CHAR"/>
            <result property="createBy" column="createBy" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="updateBy" jdbcType="BIGINT"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="delFag" column="delFag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userName,nickName,
        password,status,email,
        phonenumber,sex,avatar,
        userType,createBy,createTime,
        updateBy,updateTime,delFag
    </sql>
</mapper>
